<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlResolve -->
<mapper namespace="pl.sparkbit.security.dao.mybatis.CredentialsMapper">

    <insert id="insertCredentials">
        INSERT INTO ${prefix}_credentials (user_id, password, enabled, deleted)
        VALUES (#{credentials.userId}, #{credentials.password}, #{credentials.enabled}, #{credentials.deleted})
    </insert>

    <insert id="insertUserRole">
        INSERT INTO user_role (user_id, role) VALUES (#{userId}, #{role.authority})
    </insert>

    <select id="selectPasswordHashForUser" resultType="String">
        SELECT password from ${prefix}_credentials where ${prefix}_id=#{userId}
    </select>

    <update id="updateCredentials">
        UPDATE ${prefix}_credentials c
        <set>
            c.user_id=#{credentials.userId},
            <if test="credentials.password != null">c.password=#{credentials.password},</if>
            <if test="credentials.enabled != null">c.enabled=#{credentials.enabled},</if>
            <if test="credentials.deleted != null">c.deleted=#{credentials.deleted},</if>
        </set>
        WHERE c.user_id=#{credentials.userId}
    </update>

</mapper>
