<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlResolve -->
<mapper namespace="pl.sparkbit.security.dao.mybatis.SecurityMapper">

    <insert id="insertSession">
        INSERT INTO session (auth_token,user_id,creation_ts) VALUES (#{authToken},#{userId},#{creation})
    </insert>

    <resultMap id="loginUserDetailsResultMap" type="pl.sparkbit.security.login.LoginUserDetails">
        <constructor>
            <idArg column="user_id" javaType="String"/>
            <arg column="password" javaType="String"/>
        </constructor>
    </resultMap>

    <select id="selectLoginUserDetails" resultMap="loginUserDetailsResultMap">
        SELECT user_id, password FROM credentials WHERE
        <foreach collection="authnAttributes" index="key" item="value" open="" separator="and" close="">
            ${key}=#{value}
        </foreach>
    </select>

    <resultMap id="restUserDetailsResultMap" type="pl.sparkbit.security.rest.RestUserDetails">
        <constructor>
            <idArg column="auth_token" javaType="String"/>
            <arg column="user_id" javaType="String"/>
        </constructor>
        <collection property="roles" ofType="org.springframework.security.core.authority.SimpleGrantedAuthority">
            <constructor>
                <arg column="role" javaType="string"/>
            </constructor>
        </collection>
    </resultMap>

    <select id="selectRestUserDetails" resultMap="restUserDetailsResultMap">
        SELECT s.auth_token as auth_token, s.user_id, ur.role
        FROM session s LEFT OUTER JOIN user_role ur on s.user_id=ur.user_id
        WHERE s.auth_token=#{authToken}
    </select>

    <resultMap id="sessionResultMap" type="pl.sparkbit.security.domain.Session">
        <constructor>
            <idArg column="auth_token" javaType="String"/>
            <arg column="user_id" javaType="String"/>
            <arg column="creation_ts" javaType="java.time.Instant"/>
        </constructor>
    </resultMap>

    <select id="selectSession" resultMap="sessionResultMap">
        SELECT auth_token, user_id, creation_ts FROM session s WHERE auth_token=#{authToken}
    </select>

    <delete id="deleteSession">
        DELETE FROM session where auth_token=#{authToken}
    </delete>

</mapper>
